extends layout

block content
  nav.navbar
    ul.nav-links
      li
        a(href="/catalog/items") Products
      li
        a(href="/catalog/cart")
          span.material-icons
            | shopping_cart
          | #{count}
    div.logo
      a(href="/") Vintage
    div.login
      a(href="/login")
       span.material-icons
            | account_circle
          


  .background-container
    .one-liner
      p.first-line Style unleashed:
      p.second-line Discover the Essence
      p.third-line Of Urban Fashion.
      
    a(href="/catalog/items") SHOP NOW
  .second-slide-container
    .yellow
    .couple
    .three
    .single
  .third-slide-container 
    .quote 
      |"Step into the realm of urban fashion at Vintage, where style and attitude converge. Discover curated collections that elevate your streetwear game."
      br
      |- A wise man.
  .fourth-slide-container
    .fourth-slide-container-title Shop From The World's Leading Brands
    .brands-wheel 
      .nike 
      .addidas 
      .offwhite 
      .supreme 
      .carhartt
      .fearofgod
      .rebook 
      .tnf 
      .vans 
      .palace
  .fifth-slide-container 
    .visa 
    .mastercard 
    .paypal 
    .googlepay 
    .applepay 
  .sixth-slide-container 
    |Created by Shrawn Chhetri
