extends layout

block content
  nav.navbar
    div.logo
      a(href="/") Vintage
    ul.nav-links
      li
        a.products-link(href="/catalog/items") Products
      li
        a(href="/catalog/cart")
          span.material-icons.shopping-cart
            | shopping_cart
          if(count!==0)
            div.cart-count #{count}
   
    
          


  .background-container
    .one-liner
      p.first-line Style unleashed:
      p.second-line Discover the Essence
      p.third-line Of Urban Fashion.
      
    a(href="/catalog/items") SHOP NOW
  .second-slide-container
    .second-slide-img-container
      .img-one
      .img-two
      .img-three
      .img-four
  .third-slide-container 
    .quote 
      |"Step into the realm of urban fashion at Vintage, where style and attitude converge. Discover curated collections that elevate your streetwear game."
      br
      |- Shrawn C.
  .fourth-slide-container
    .fourth-slide-container-title Shop From The World's Leading Brands
    .brands-wheel 
      .nike 
      .addidas 
      .offwhite 
      .supreme 
      .carhartt
      .fearofgod
      .rebook 
      .tnf 
      .vans 
      .palace
  .fifth-slide-container 
    .visa 
    .mastercard 
    .paypal 
    .googlepay 
    .applepay 
  .sixth-slide-container 
    |Created by Shrawn Chhetri
