doctype html
html
  head
    title My Shop
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas+Neue")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster")

  body
   
    block content
