doctype html
html
  head
    title Vintage
    link(rel="stylesheet" href="/stylesheets/style.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas+Neue")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
  body
   
    block content
